* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat'
}

main {
  background-color: white;
  height: 500px;
  width: 670px;
  display: flex;
  border-radius: 10px;
  overflow: hidden; /* image radius */
}

.card-img img {
  width: max-content;
  height: 100%;
  object-fit: cover;
}

.card-body {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 1.5rem;
  justify-content: space-between;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
}

.card-product-preview{
  text-transform: uppercase;
  letter-spacing: 5px;
}

h1 {
  font-family: 'Fraunces';
  line-height: 95%;
  color: hsl(212, 21%, 14%);
}

.card-product-description{
  line-height: 1.5;
}

.card-product-price{
  display: flex;
  align-items: center;
}

.price-now{
  font-family: 'Fraunces';
  font-weight: 700;
  font-size: 35px;
  color: hsl(158, 36%, 37%);
}

del {
  margin-left: 1rem;
}

.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(158, 36%, 37%);
  color: white;
  font-weight: bold;
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
}

.btn-secondary:hover {
  background-color: hsl(156, 42%, 18%);
  cursor: pointer;
}

.btn-secondary img {
  margin-right: 10px;
}


@media screen and (max-width: 460px) {
  main {
    flex-direction: column;
    height: auto;
    /* width: 100%; */
    margin: 2rem 1rem 0 1rem;
  }

  picture {
    height: 17rem;
  }

  .card-body{
    width: auto;
  }

  .card-img img{
    width: 100%;
    object-fit: cover;
  }

  h1 {
    margin: 1rem 0 0.5rem 0;
  }

  .card-product-description {
    margin: 0.5rem 0 0.5rem 0;
  }

  .card-product-price {
    margin: 0.5rem 0 0.5rem 0;
  }

}